@model IEnumerable<kosPU.Models.detailowner>
@{
    ViewBag.Title = "DetailPenghuni";
    Layout = "~/Views/Shared/View1owner.cshtml";
}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@foreach (var item in Model)
{
    if (item.kost_id != 0)
    {
        <center>
            <h2 class="text-white mb-2 mt-5">Detail Kosan @item.kost_name</h2>
        </center>
    }

}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-60">

            <div class="card-body">
                <h5 class="card-title text-center">Total Room</h5>
                @foreach (var room in Model)
                {
                    if (room.totalroom != 0)
                    {
                        <h1 class="text-center">@room.totalroom</h1>
                    }



                }

            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-60">

            <div class="card-body">
                <h5 class="card-title text-center">Boked</h5>
                @foreach (var room in Model)
                {
                    if (room.totalboked != 0)
                    {
                        <h1 class="text-center">@room.totalboked</h1>
                    }
                }

            </div>

        </div>
    </div>
    <div class="col">
        <div class="card h-60">

            <div class="card-body">
                <h5 class="card-title text-center">Empty</h5>
                @foreach (var room in Model)
                {
                    if (room.totalempty != 0)
                    {
                        <h1 class="text-center">@room.totalempty</h1>
                    }
                }

            </div>

        </div>
    </div>
</div>
<br />

<link href="~/additional-file/datatabe/jquery.dataTables.min.css" rel="stylesheet" />
<!-- Button trigger modal -->
<div class="card p-2">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalkamar">
                    Add Room
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalkamar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/HomeOwner/Addroom" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Room</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Floor
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" aria-label="Default select example" name="floor">
                                                <option selected>choose</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>

                                        </div>
                                    </div>
                                    <br />

                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Room Name
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" name="roomname" />
                                        </div>
                                    </div>
                                    @foreach (var data in Model)
                                    {
                                        if (data.kost_id != null)
                                        {
                                            <input type="hidden" value="@data.kost_id" name="kost_id" />
                                        }

                                    }

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table id="table_benefit" class="table table-hover table-borderless">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Room Name </th>
                <th class="text-center">Floor</th>
                <th class="text-center">Status</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.room_name != null)
                {



                    <tr>

                        <td>
                            <center>
                                @item.room_name
                            </center>
                        </td>
                        <td>
                            <center>
                                @item.room_floor
                            </center>
                        </td>
                        <td>
                            <center>
                                @item.room_status
                            </center>
                        </td>

                        <td>
                            <a data-bs-toggle="modal" data-kostid="@item.kost_id_room" data-roomid="@item.room_id" data-roomname="@item.room_name" data-roomfloor="@item.room_floor" title="Add this item" class="open-exampleroomedit btn btn-warning" href="#exampleroomedit">Edit</a>
                            <a data-bs-toggle="modal" data-kostid="@item.kost_id_room" data-roomid="@item.room_id" data-roomname="@item.room_name" data-roomfloor="@item.room_floor" title="Add this item" class="open-exampleroodelete btn btn-danger" href="#exampleroodelete">Delete</a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<br />
<script>
    $(document).on("click", ".open-exampleroodelete", function () {
        var roomid = $(this).data('roomid');
        $(".modal-body #roomid").val(roomid);
        var roomname = $(this).data('roomname');
        $(".modal-body #roomname").val(roomname);
        var roomfloor = $(this).data('roomfloor');
        $(".modal-body #roomfloor").val(roomfloor);
        var kostid = $(this).data('kostid');
        $(".modal-body #kostid").val(kostid);
        var bank = $(this).data('bank');
        $(".modal-body #bank").val(bank);
        var price = $(this).data('price');
        $(".modal-body #price").val(price);
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
</script>
<div class="modal fade" id="exampleroodelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/HomeOwner/deleteroom" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="roomid" name="room_id" />
                    <input type="hidden" id="kostid" name="kost_id" />
                    <input type="text" class="form-control" id="roomname" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).on("click", ".open-exampleroomedit", function () {
        var roomid = $(this).data('roomid');
        $(".modal-body #roomid").val(roomid);
        var roomname = $(this).data('roomname');
        $(".modal-body #roomname").val(roomname);
        var roomfloor = $(this).data('roomfloor');
        $(".modal-body #roomfloor").val(roomfloor);
        var kostid = $(this).data('kostid');
        $(".modal-body #kostid").val(kostid);
        var bank = $(this).data('bank');
        $(".modal-body #bank").val(bank);
        var price = $(this).data('price');
        $(".modal-body #price").val(price);
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
</script>
<!-- Modal -->
<div class="modal fade" id="exampleroomedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/HomeOwner/editroom" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Floor
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" aria-label="Default select example" name="floor" id="roomfloor">
                                            <option selected>choose</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>

                                    </div>
                                </div>
                                <br />

                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Room Name
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control" name="roomname" id="roomname" />
                                        <input type="hidden" class="form-control" name="room_id" id="roomid" />
                                        <input type="hidden" class="form-control" name="kost_id" id="kostid" />
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Button trigger modal modalbenefit -->

<br />
<div class="card p-2">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalbenefit">
                    Add Benefit
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalbenefit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/HomeOwner/Addbenefit" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Benefit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            House keeper
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-control" name="penjaga">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Admin fee free
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-control" name="admin">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                        @foreach (var data in Model)
                                        {
                                            if (data.kost_id != 0)
                                            {
                                                <input type="hidden" value="@data.kost_id" name="kost_id" />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <table id="table_benefit" class="table table-hover table-borderless">
        <thead class="thead-dark">
            <tr>

                <th>House keeper</th>
                <th>Free admin and cleaning fees</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.ben_keep != null)
                {
                    <tr>
                        <td>
                            <center>
                                @item.ben_keep
                            </center>
                        </td>
                        <td>
                            <center>
                                @item.ben_free
                            </center>
                        </td>
                        <td>
                            <a data-bs-toggle="modal" data-kostid="@item.benefit_kost_id" data-benefit="@item.benefit_id" title="Add this item" class="open-modalbenefitedit btn btn-warning" href="#modalbenefitedit">Edit</a>


                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document).on("click", ".open-modalbenefitedit", function () {
        var benefit = $(this).data('benefit');
        $(".modal-body #benefit").val(benefit);
        var roomname = $(this).data('roomname');
        $(".modal-body #roomname").val(roomname);
        var roomfloor = $(this).data('roomfloor');
        $(".modal-body #roomfloor").val(roomfloor);
        var kostid = $(this).data('kostid');
        $(".modal-body #kostid").val(kostid);
        var bank = $(this).data('bank');
        $(".modal-body #bank").val(bank);
        var price = $(this).data('price');
        $(".modal-body #price").val(price);
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
</script>
<div class="modal fade" id="modalbenefitedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/HomeOwner/editbenefit" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Benefit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="hidden" id="benefit" name="benefit_id" />
                                        <input type="hidden" id="kostid" name="kost_id" />
                                        Penjaga Kosan
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-control" name="penjaga">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        free biaya admin
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-control" name="admin">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<div class="card p-2">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <!-- Button trigger modal spesifikasi-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modalspesifikasi">
                    Add Specifications
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modalspesifikasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/HomeOwner/AddSpek" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Specifications</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">


                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Room Size
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="size">
                                                <option selected>Choose</option>
                                                <option value="3x4">3x4</option>
                                                <option value="4x4">4x4</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Bathroom
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="bathroom">
                                                <option selected>Choose</option>
                                                <option value="In the room">In the room</option>
                                                <option value="Out the Room"> Out the Room</option>

                                            </select>
                                        </div>
                                    </div>
                                    @foreach (var data in Model)
                                    {
                                        if (data.kost_id != 0)
                                        {
                                            <input type="hidden" value="@data.kost_id" name="kost_id" />
                                        }
                                    }

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <br />
    <table id="table_spek" class="table table-hover table-bordered table-borderless">
        <thead class="thead-dark">
            <tr>

                <th>Size</th>
                <th>Bathroom</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.spek_size != null)
                {


                    <tr>

                        <td>
                            <center>
                                @item.spek_size
                            </center>
                        </td>
                        <td>
                            <center>
                                @item.spek_bath
                            </center>
                        <td>

                        <td>
                            <a data-bs-toggle="modal" data-spekid="@item.spek_id" data-kostid="@item.spek_kost_id" title="Add this item" class="open-modalspekid btn btn-warning" href="#modalspekid">Edit</a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document).on("click", ".open-modalspekid", function () {
        var spekid = $(this).data('spekid');
        $(".modal-body #spekid").val(spekid);
        var roomname = $(this).data('roomname');
        $(".modal-body #roomname").val(roomname);
        var roomfloor = $(this).data('roomfloor');
        $(".modal-body #roomfloor").val(roomfloor);
        var kostid = $(this).data('kostid');
        $(".modal-body #kostid").val(kostid);
        var bank = $(this).data('bank');
        $(".modal-body #bank").val(bank);
        var price = $(this).data('price');
        $(".modal-body #price").val(price);
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
</script>
<div class="modal fade" id="modalspekid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/HomeOwner/editSpek" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Specifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">


                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="hidden" id="spekid" name="spek_id" />
                                        <input type="hidden" id="kostid" name="kost_id" />
                                        Room Size
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="size">
                                            <option selected>Choose</option>
                                            <option value="3x4">3x4</option>
                                            <option value="4x4">4x4</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Bathroom
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="bathroom">
                                            <option selected>Choose</option>
                                            <option value="In the room">In the room</option>
                                            <option value="Out the Room"> Out the Room</option>

                                        </select>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- Button trigger modal Fasilitas-->
<br />
<div class="card p-2">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modalfasilitas">
                    ADD Facilities
                </button>
            </div>
        </div>
    </div>
    <!-- Modal fasilitas -->
    <div class="modal fade" id="Modalfasilitas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/HomeOwner/Addfasilitas" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ADD Facilities</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Bed
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="bed">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Cupboard
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="cup">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Washing machine
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="wash">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Table
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="table">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Refrigerator
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="kulkas">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Wifi
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="Wifi">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Chair
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="Chair">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            TV
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="TV">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            AC
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="AC">
                                                <option selected>Choose</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var data in Model)
                                {
                                    if (data.kost_id != 0)
                                    {
                                        <input type="hidden" value="@data.kost_id" name="kost_id" />
                                    }
                                }
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <table id="table_fasilitas" class="table table-hover table-bordered table-borderless">
        <thead class="thead-dark">
            <tr>

                <th>AC</th>
                <th>Bed</th>
                <th>Cupboard</th>
                <th>Washing machine</th>
                <th>Table</th>
                <th>Refrigerator</th>
                <th>Wifi</th>
                <th>Chair</th>
                <th>TV</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.AC != null)
                {

                    <tr>

                        <td>
                            @item.AC
                        </td>
                        <td>
                            @item.BED
                        </td>
                        <td>
                            @item.cupboard
                        </td>
                        <td>
                            @item.washing
                        </td>
                        <td>
                            @item.tabble
                        </td>
                        <td>
                            @item.regni
                        </td>
                        <td>
                            @item.wifi
                        </td>
                        <td>
                            @item.chair
                        </td>
                        <td>
                            @item.TV
                        </td>

                        <td>
                            <a data-bs-toggle="modal" data-facid="@item.fac_id" data-kostid="@item.fac_kost_id" title="Add this item" class="open-Modalfasilitasedit btn btn-warning" href="#Modalfasilitasedit">Edit</a>
                            

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document).on("click", ".open-Modalfasilitasedit", function () {
        var facid = $(this).data('facid');
        $(".modal-body #facid").val(facid);
        var roomname = $(this).data('roomname');
        $(".modal-body #roomname").val(roomname);
        var roomfloor = $(this).data('roomfloor');
        $(".modal-body #roomfloor").val(roomfloor);
        var kostid = $(this).data('kostid');
        $(".modal-body #kostid").val(kostid);
        var bank = $(this).data('bank');
        $(".modal-body #bank").val(bank);
        var price = $(this).data('price');
        $(".modal-body #price").val(price);
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
</script>
<div class="modal fade" id="Modalfasilitasedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/HomeOwner/Editfasilitas" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Facilities</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <input type="hidden" id="facid" name="fac_id"/>
                                    <input type="hidden" id="kostid" name="kost_id"/>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Bed
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="bed">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Cupboard
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="cup">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Washing machine
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="wash">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Table
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="table">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Refrigerator
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="kulkas">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Wifi
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="Wifi">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Chair
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="Chair">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        TV
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="TV">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        AC
                                    </div>
                                    <div class="col-sm">
                                        <select class="form-select" name="AC">
                                            <option selected>Choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/additional-file/datatabe/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_penghuni').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#table_benefit').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#table_spek').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#table_fasilitas').DataTable();
        });
    </script>
}


