@model IEnumerable<kosPU.Models.detailowner>
@{
    ViewBag.Title = "DetailPenghuni";
    Layout = "~/Views/Shared/View1owner.cshtml";
}

<center>
    <h2 class="text-white mb-2 mt-5">Detail Kosan Gandi</h2>
</center>
<link href="~/additional-file/datatabe/jquery.dataTables.min.css" rel="stylesheet" />
<!-- Button trigger modal -->
<div class="card p-2">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalkamar">
                    Add Room
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalkamar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/HomeOwner/Addroom" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Room</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Floor
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" aria-label="Default select example" name="floor">
                                                <option selected>choose</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>

                                        </div>
                                    </div>
                                    <br />
                                   
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Room Name
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" name="roomname" />
                                        </div>
                                    </div>
                                    @foreach (var data in Model)
                                    {
                                        if (data.kost_id != null)
                                        {
                                            <input type="hidden" value="@data.kost_id" name="kost_id" />
                                        }

                                    }

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                 </form>
            </div>
        </div>
    </div>

    <table id="table_benefit" class="table table-hover table-borderless">
        <thead class="thead-dark">
            <tr>
                <th>Room Name </th>
                <th>Floor</th>


                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if(item.room_name != null)
                {

               

            <tr>

                <td>
                    <center>
                @item.room_name
                    </center>
                </td>
                <td>
                    <center>
                        @item.room_floor
                    </center>
                </td>
                
                <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalbenefitedit" data-whatever="">Edit</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modaldeletebenefit" data-whatever="">Delete</button>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
<br />
<div class="modal fade" id="modalbenefitedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Floor
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>choose</option>
                                            <option value="id_kosan">1</option>
                                            <option value="id_kosan">2</option>
                                        </select>

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Room Number
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        House keeper
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>choose</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modaldeletebenefit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Kosan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="card p-2">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Resident
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/HomeOwner/Addresident" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Resident</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Resident Name
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" name="resident_name" />

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            No.Telp
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" name="notelp" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Jumlah Penghuni
                                        </div>
                                        <div class="col-sm">
                                            <input type="number" class="form-control" name="penghuni" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Room Name
                                        </div>
                                        <div class="col-sm">
                                            <input type="text" class="form-control" name="roomname" />
                                        </div>
                                    </div>

                                    <br />
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                Start
                                            </div>
                                            <div class="col-sm">
                                                <input type="date" class="form-control" name="start" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                End
                                            </div>
                                            <div class="col-sm">
                                                <input type="date" class="form-control" name="end" />
                                            </div>
                                        </div>
                                    </div>
                                    @foreach (var data in Model)
                                    {
                                        if (data.kost_id != 0)
                                        {
                                            <input type="text" value="@data.kost_id" name="kost_id" />
                                        }

                                    }

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table id="table_penghuni" class="table table-hover table-borderless">
        <thead>
            <tr class="thead-dark">
                <th>Resident Name</th>
                <th>No Telfon</th>
                <th>Room Number</th>
                <th>Resident Email</th>
                <th>Start</th>
                <th>End</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.resident_name != null)
                {


            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.resident_name)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.no_telp)
                    </center>
                </td>
                <td>
                </td>
                <td>
                    <center>

                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.email)
                    </center>
                </td>
                <td>
                    @if (item.start == null)
                    {

                    }
                    else
                    {
                        @item.start.Value.ToShortDateString()
                    }

                </td>
                <td>
                    @if(item.res_end == null)
                    {

                    }
                    else
                    {
                         @item.res_end.Value.ToShortDateString()
                    }
                   
                </td>
                <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModaledit" data-whatever="">Edit</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModaldelete" data-whatever="">Delete</button>

                </td>

            </tr>
                }
            }
            </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Resident</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Resident Name
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control" />

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        No.Telp
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        number of occupants
                                    </div>
                                    <div class="col-sm">
                                        <input type="number" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Room Number
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>

                                <br />
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Start
                                        </div>
                                        <div class="col-sm">
                                            <input type="date" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            End
                                        </div>
                                        <div class="col-sm">
                                            <input type="date" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Kosan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal modalbenefit -->
<br />
<div class="card p-2">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalbenefit">
                    Add Benefit
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalbenefit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/HomeOwner/Addbenefit" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Penjaga Kosan
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-group" name="penjaga">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            free biaya admin
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-group" name="admin">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                        @foreach (var data in Model)
                                        {
                                            if (data.kost_id != 0)
                                            {
                                                <input type="text" value="@data.kost_id" name="kost_id" />
                                            }
                                        }
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <table id="table_benefit" class="table table-hover table-borderless">
        <thead class="thead-dark">
            <tr>

                <th>House keeper</th>
                <th>Free admin and cleaning fees</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                if(item.ben_keep != null)
                {              
            <tr>
                <td>
                    <center>
                        @item.ben_keep
                    </center>
                </td>
                <td>
                    <center>
                        @item.ben_free
                    </center>
                </td>
                <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalbenefitedit" data-whatever="">Edit</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modaldeletebenefit" data-whatever="">Delete</button>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>    
</div>
<div class="modal fade" id="modalbenefitedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Nama Kosan
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="id_kosan">Kosan Gandi</option>
                                        </select>

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Penjaga Kosan
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Penjaga Kosan
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modaldeletebenefit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Kosan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="card p-2">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <!-- Button trigger modal spesifikasi-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modalspesifikasi">
                    Add Specifications
                </button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modalspesifikasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/HomeOwner/AddSpek" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Specifications</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        
                                       
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Room Size
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="size">
                                                <option selected>Choose</option>
                                                <option value="3x4">3x4</option>
                                                <option value="4x4">4x4</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Bathroom
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="bathroom">
                                                <option selected>Choose</option>
                                                <option value="In the room">In the room</option>
                                                <option value="Out the Room"> Out the Room</option>

                                            </select>
                                        </div>
                                    </div>
                                    @foreach (var data in Model)
                                    {
                                        if (data.kost_id != 0)
                                        {
                                            <input type="hidden" value="@data.kost_id" name="kost_id" />
                                        }
                                    }

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
    <br />
    <table id="table_spek" class="table table-hover table-bordered table-borderless">
        <thead class="thead-dark">
            <tr>

                <th>Size</th>
                <th>Bathroom</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model) 
            {
                if(item.spek_size != null)
                {

                
            <tr>

                <td>
                    <center>
                        @item.spek_size
                    </center>
                </td>
                <td>
                    <center>
                        @item.spek_bath
                    </center>
                <td>

                <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalspekedit" data-whatever="">Edit</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modalspekdelete" data-whatever="">Delete</button>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="modalspekedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Specifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Nama Kosan
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="id_kosan">Kosan Gandi</option>
                                        </select>

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Ukuran Kamar
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="3x4">3x4</option>
                                            <option value="4x4">4x4</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Kamar Mandi diDalam
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modalspekdelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Spesifikasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal Fasilitas-->
<br />
<div class="card p-2">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modalfasilitas">
                    ADD Facilities
                </button>
            </div>
        </div>
    </div>
    <!-- Modal fasilitas -->
    <div class="modal fade" id="Modalfasilitas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/HomeOwner/Addfasilitas" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ADD Facilities</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Bed
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="bed">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Cupboard
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="cup">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Washing machine
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="wash">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Table
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="table">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Refrigerator
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="kulkas">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Wifi
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="Wifi">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Chair
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="Chair">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            TV
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="TV">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            AC
                                        </div>
                                        <div class="col-sm">
                                            <select class="form-select" name="AC">
                                                <option selected>Pilih</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var data in Model)
                                {
                                    if (data.kost_id != 0)
                                    {
                                        <input type="hidden" value="@data.kost_id" name="kost_id" />
                                    }
                                }
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <table id="table_fasilitas" class="table table-hover table-bordered table-borderless">
        <thead class="thead-dark">
            <tr>

                <th>AC</th>
                <th>Bed</th>
                <th>Cupboard</th>
                <th>Washing machine</th>
                <th>Table</th>
                <th>Refrigerator</th>
                <th>Wifi</th>
                <th>Chair</th>
                <th>TV</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                if(item.AC != null) { 

            <tr>

                <td>
                    @item.AC
                </td>
                <td>
                    @item.BED
                </td>
                <td>
                    @item.cupboard
                </td>
                <td>
                    @item.washing
                </td>
                <td>
                    @item.tabble
                </td>
                <td>
                    @item.regni
                </td>
                <td>
                    @item.wifi
                </td>
                <td>
                    @item.chair
                </td>
                <td>
                    @item.TV
                </td>

                <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modalfasilitasedit" data-whatever="">Edit</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modalfasilitasdelete" data-whatever="">Delete</button>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="Modalfasilitasedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Nama Kosan
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="id_kosan">Kosan Gandi</option>
                                        </select>

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        AC
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Kasur
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Kulkas
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Kursi
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-4">
                                        Lemari
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Mesin Cuci
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Meja Belajar
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        Wifi
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        TV
                                    </div>
                                    <div class="col-sm">
                                        <select class="custom-select custom-select-lg mb-3">
                                            <option selected>Pilih</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modalfasilitasdelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Fasilitas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/additional-file/datatabe/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_penghuni').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#table_benefit').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#table_spek').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#table_fasilitas').DataTable();
        });
    </script>
}


