@model IEnumerable<kosPU.Models.kosan>
@{
    ViewBag.Title = "history";
    Layout = "~/Views/Shared/View1owner.cshtml";
}

<h2>history</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="card">
    <h2 class="text-center">History</h2>
    <table id="table_id" class="class=" table table-hover table-borderless">
        <thead>
            <tr class="thead-dark">
                <th>
                    <center>
                        Sender
                    </center>
                </th>
                <th>
                    <center>
                        Bank
                    </center>
                </th>
                <th>
                    <center>
                        Rekening Number
                    </center>
                </th>
                <th>
                    <center>
                        Bukti
                    </center>
                </th>
                <th>
                    <center>
                        Period
                    </center>
                </th>
                <th>
                    <center>
                        Total Booking
                    </center>
                </th>
                <th>
                    <center>
                        Status
                    </center>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.sender != null)
                {


                    <tr>

                        <td>
                            <center>
                                @Html.DisplayFor(modelItem => item.sender)
                            </center>
                        </td>
                        <td>
                            <center>
                                @Html.DisplayFor(modelItem => item.norekname)
                            </center>
                        </td>
                        <td>
                            <center>
                                @Html.DisplayFor(modelItem => item.norek)
                                <input type="hidden" value="@item.kost_id" name="payusr" />
                            </center>
                        </td>
                        <td>
                            <center>
                                @Html.DisplayFor(modelItem => item.bukti)
                                <input type="hidden" value="@item.pay_usr" name="payusr" />
                            </center>
                        </td>
                        <td>
                            <center>
                                @Html.DisplayFor(modelItem => item.periode)
                                <input type="hidden" value="@item.room_id" name="room_id" />
                            </center>
                        </td>
                        <td>
                            <center>
                                @Html.DisplayFor(modelItem => item.total_book)
                                <input type="hidden" value="@item.payment_id" name="payment_id" />
                            </center>
                        </td>
                        <td>
                            <center>
                                @if (item.pay_status == "reject")
                                {
                                    <a data-bs-toggle="modal" data-bs-dismiss="modal" data-payment="@item.payment_id" data-room="@item.room_id" data-type="@item.pay_usr" data-kost="@item.kost_id" title="Add this item" class="open-approve btn btn-success btn-sm" href="#approve">Approve</a>
                                    @*<a data-bs-toggle="modal" data-id="@item.room_id" data-content="@item.payment_id" data-type="" title="Add this item" class="open-approve btn btn-success btn-sm" href="#approve">Approve</a>*@

                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reject">
                                    </button>

                                }
                                @if (item.pay_status == "approve")
                                {
                                    <a data-bs-toggle="modal" data-bs-dismiss="modal" data-payment="@item.payment_id" data-room="@item.room_id" data-type="@item.pay_usr" data-kost="@item.kost_id" title="Add this item" class="open-reject btn btn-danger btn-sm" href="#reject">Reject</a>
                                }
                            </center>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document).on("click", ".open-approve", function () {
        var payment = $(this).data('payment');
        $(".modal-body #payment").val(payment);
        var room = $(this).data('room');
        $(".modal-body #room").val(room);
        var type = $(this).data('type');
        $(".modal-body #type").val(type);
        var kost = $(this).data('kost');
        $(".modal-body #kost").val(kost);
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

    $(document).on("click", ".open-reject", function () {
        var payment = $(this).data('payment');
        $(".modal-body #payment").val(payment);
        var room = $(this).data('room');
        $(".modal-body #room").val(room);
        var type = $(this).data('type');
        $(".modal-body #type").val(type);
        var kost = $(this).data('kost');
        $(".modal-body #kost").val(kost);
        // As pointed out in comments,
        // it is unnecessary to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });



</script>
<!-- Modal approve-->
<div class="modal fade" id="approve" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/HomeOwner/approve" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Approve</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="payment_id" id="payment" value="" />
                                @*@item.kost_name*@
                            </div>
                            <div class="col">
                                <input type="hidden" name="room_id" id="room" value="" />
                                <input type="text" name="username" id="type" value="" />
                                <input type="text" name="kost_id" id="kost" value="" />
                                @*@item.room_floor*@
                            </div>
                            <div class="col">
                                @*@item.room_name*@

                            </div>
                            <div class="col">
                                @*@item.NAME*@


                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal reject-->
<div class="modal fade" id="reject" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/HomeOwner/reject" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reject</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <input type="hidden" name="payment_id" id="payment" value="" />

                    </div>
                    <div class="col">
                        <input type="hidden" name="room_id" id="room" value="" />
                        <input type="text" name="username" class="form-control" id="type" value="" />
                        <input type="hidden" name="kost_id" id="kost" value="" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal detail-->
