@model IEnumerable<kosPU.Models.detailowner>
@{
    ViewBag.Title = "Boking";
    Layout = "~/Views/Shared/View1.cshtml";
}

<script src="~/additional-file/dselect.js"></script>
<link rel="stylesheet" href="~/additional-file/dselect.scss" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<div class="card">

    <div class="card-body">
        @foreach (var item in Model)
        {
            if (item.kost_name != null)
            {
                <center>
                    <h2>@item.kost_name</h2>
                </center>
            }
        }

    </div>
</div>
<br />
<div class="card">
    
    <div class="card-body">
        <form action="/Home/booking" method="post" enctype="multipart/form-data">
            <div class="container text-center">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        if (item.username_user != null)
                        {
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Representative Name" name="name" value="@item.name_user" readonly>

                            </div>
                           
                            <div class="col">
                                <input type="number" class="form-control" placeholder="Telp Number" name="telp" value="@item.phone_userr" readonly>
                            </div>
                        }
                    }



                </div>
                <br />
                <div class="row">
                    @foreach (var item in Model)
                    {
                        if (item.username_user != null)
                        {
                            <div class="col">


                                <input type="email" class="form-control" placeholder="Email" name="email" value="@item.email_user" readonly>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Major ex*(IT 2019)" name="major">
                            </div>
                        }
                    }
                </div>
            </div>
            <br />


            <center>
                <h4>Available Room</h4>
            </center>
            <div class="container text-center">
                <div class="row">
                    <div class="col">


                        <select class="form-control" aria-label="Default select example" name="floor" id="floor">
                            <option selected>Floor</option>
                            @foreach (var item in Model)
                            {
                                if (item.room_floor != null)
                                {

                                    <option value="@item.room_floor">@item.room_floor</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control" aria-label="Default select example" name="room" id="room">
                            <option selected>Number Room</option>

                            @foreach (var item in Model)
                            {
                                if (item.room_name != null)
                                {

                                    <option value="@item.room_name">@item.room_name</option>
                                }
                            }



                        </select>
                    </div>

                </div>
                <br />

            </div>


            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <center>
                            <label>Start</label><br />
                        </center>
                        <input type="date" class="form-control" name="startbooking" placeholder="Start">
                    </div>
                    <div class="col">
                        <center>
                            <label>Booking per</label><br />
                        </center>
                        <select class="form-select" aria-label="Default select example" name="period">
                            <option selected>Open this select menu</option>
                            <option value=1>One Month</option>
                            <option value=3>3 Month</option>
                            <option value=6>6 Month</option>
                            <option value=12>1 Years</option>
                        </select>

                    </div>

                </div>
                <br />

            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <a href="~/Home/Detail">
                            <input type="button" class="form-control btn btn-danger" value="BACK">
                        </a>
                    </div>
                    <div class="col">
                        @foreach (var item in Model)
                        {
                            if (item.kost_id != 0)
                            {
                                <input type="hidden" value="@item.kost_id" name="kost_id" />
                                <input type="hidden" name="harga" value="@item.kost_price">
                                <input type="submit" value="Choose Payment Menthod" class="btn btn-primary btn-user btn-block">


                            }
                        }

                    </div>

                </div>
                <br />

            </div>


        </form>
        @if (TempData["udahboking"] != null)
        {
            <script type="text/javascript">
                      window.onload = function () {
                      swal("Yess...!", '@TempData["udahboking"]', "success");
                    };
            </script>
        }
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@*<script>
     $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#floor").change(function () {
            $("#room").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("State_Bind")', // we are calling json method
                dataType:'json',
                data: { kost_id: $("#floor").val() },
               // here we are get value of selected country and passing same value
                  /*as inputto json method GetStates.*/
                success: function (states) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(states, function (i, state) {
                        $("#room").append('<option value="' + state.room_name + '">' +
                         state.room_name + '</option>');
                    // here we are adding option for States
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
         });
</script>*@